#option {
    margin: auto;
    height: 140px;
    text-align: center;
}

input {
    height: 30px;
}

input[type=number] {
    text-align: center;
}

::placeholder {
    text-align: center;
}

#go {
    margin-top: 20px;
    width: 60px;
    height: 40px;
    background-color: lightpink;
    color: white;
}

#main {
    width: 80%;
    margin: auto;
    margin-top: 40px;
}

#floor {
    height: 200px;

}

#content {
    display: flex;
    height: 130px;
}

button {
    border: none;
    border-radius: 7px;
}

#lift {
    border-radius: 5px;
    margin-left: 5%;
    width: 90px;
    height: 130px;
    background-color: lightseagreen;
    position: relative;
    animation-name: move;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

#up {
    color: black;
    margin-top: 2px;
    height: 30px;
    background-color: greenyellow;
}

#down {
    color: black;
    margin-top: 10px;
    height: 30px;
    background-color: lightsalmon;
}

hr {
    margin-top: 30px;
    width: 80%;
    height: 1px;
    background-color: black;
}

#btn {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

#info {
    display: flex;
}

/* @keyframes move{
    0%{top: 0px;}
    100%{top:200px;}
} */