#main{
    width: 80%;
    margin: auto;
    margin-top: 10%;  
}
button{
    border: none;
    border-radius: 7px;
}
#up{
    margin-top: 2px;
    height: 30px;
    background-color: greenyellow;
}
#down{
    margin-top: 10px;
    height: 30px;
    background-color: lightsalmon;
}
hr{
    margin-top: 30px;
    width: 80%;
    height: 1px;
    background-color: black;
}
#btn{
    width: 75px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
#info{
    display: flex;   
}